{% macro login_form(field) %}
    {{ field(**kwargs)|safe }}


    {% if field.errors%}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Erro: </strong>{{ error }}
            </div>
        {% endfor %}
    {% endif %}


{% endmacro %}

{% macro paciente_form(campo) %}
    {{ campo(**kwargs)|safe }}


    {% if campo.errors%}
        {% for erro in campo.errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ erro }}
            </div>
        {% endfor %}
    {% endif %}


{% endmacro %}
