{% extends '/nav/inicio.html' %}

{% block content %}
    <div class="tab-content">
        <div id ="paciente" class="container tab-pane fade">
            {% include 'pacientes.html' %}
        </div>
        <div id ="atendimentos" class="container tab-pane active">
            {% include 'atendimentos.html' %}
        </div>
        <div id ="visitas" class="container tab-pane fade">
            {% include 'visita.html' %}
        </div>
        <div id ="configuracao" class="container tab-pane fade">
            <h1> Configurações </h1>
        </div>
    </div>
{% endblock %}
