{% from "_macro.html" import login_form %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <style media="screen">

        .background{
            background: fixed;
            background-image: url({{url_for('static', filename='img/bg.png')}});
            background-color: #ffffff;
            background-size : cover;
            background-position: middle;
            background-repeat: no-repeat;
            color:white;
        }

    </style>
    <title>Sistema de Monitoramento Hospitalar</title>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/floating-labels.css')}}" rel="stylesheet">
  </head>

  <body class="background">

    <form id="login_form" method="POST" class="form-signin" style="background-color:rgba(23,162,184,.35); border:5px; border-radius:12px;">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"
      <div class="text-center mb-4">
        <img class="mb-4" src="{{url_for('static', filename='img/logo.png')}}" alt="" width="100%" height="auto">
      </div>
      <div class="form-label-group">
        {{ login_form(form.usuario, class="form-control", id="inputEmail", placeholder="Email address") }}
        <label for="inputEmail">Usuário</label>
      </div>

      <div class="form-label-group">
        {{ login_form(form.senha, class="form-control", placeholder="Password", id="inputPassword")}}
        <label for="inputPassword">Senha</label>
      </div>
      <div style="padding-top: 1cm;">
      <button class="btn btn-lg btn-info btn-block" type="submit">Entrar</button>
      </div>
    </form>
  </body>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</html>
