<body>
<div class="container">
  <br>
  <h2>Lista de Pacientes</h2>
      <p>Esta é a Lista de Pacientes, que possuem esse usuário como médico.</p>
      <a href="" class="btn btn-success btn-sm"><span>Adicionar</span></a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tel. Emergência</th>
        <th>Quarto</th>
        <th>Detalhes</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      {% for pessoa in paciente %}
      <tr>
        <td>{{ paciente[0][0] }}</td>
        <td>{{ paciente[0][1] }}</td>
        <td>{{ paciente[0][2] }}</td>
        <td align="center"><a class="btn btn-info btn-sm" style="color:white" href="/paciente/{{ paciente[0][3] }}">Ver Detalhes</a></td>
        <td align="center"><a class="btn btn-warning btn-sm" style="color:white">Editar</a></td>
        <td align="center"><a class="btn btn-danger btn-sm" style="color:white">Deletar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
